%p.text-center Hello! #{@user.name}!!!!
%p.text-center#page_number

.row
  .col-md-1
    = link_to user_path(@user, in_de: 'decrement'), remote: true do
      .dictionary-btn
        = icon('fas', 'chevron-left fa-3x')

  .col-md-10
    .row.dictionary-wrapper
      .col-md-6#ajax-pagination-left
        = render partial: 'shared/post', collection: @posts[0..3]
      .col-md-6#ajax-pagination-right
        = render partial: 'shared/post', collection: @posts[4..7]

  .col-md-1
    .dictionary-menu
    = link_to user_path(@user, in_de: 'increment'), remote: true do
      .dictionary-btn
        = icon('fas', 'chevron-right fa-3x')

.row
  .col-md-10.offset-md-1
    .dictionary-scrollbar
