= link_to( post, class: 'col-md-6 dictionary-content pt-4' ) do
  %h4
    = post.theme
  %h5.right-under
    .float-left
      = post.user.name
    .float-right.text-muted
      %time(datatime="#{post.created_at}")= "#{time_ago_in_words(post.created_at)}前"