%nav.navbar.navbar-expand-sm.navbar-dark.bg-primary.mb-2
  .container
    = link_to root_url, class: "navbar-brand" do
      = image_tag "navBrandT.svg", width: 36, height: 36
      TermPad

    %button.navbar-toggler{ type: "button", "data-toggle": "collapse", "data-target": "#navmenu1", "aria-controls": "navmenu1", "aria-expanded": "false", "aria-label": "Toggle navigation" }
      %span.navbar-toggler-icon

    #navmenu1.collapse.navbar-collapse.text-center
      .navbar-nav
        - if user_signed_in?
          = link_to("新規投稿",   new_post_url,              class: "nav-item nav-link")
          = link_to("ログアウト", destroy_user_session_url,  method: :DELETE, class: "nav-item nav-link")
          = link_to("マイページ", user_path(current_user),   class: "nav-item nav-link")
        - else
          = link_to("ログイン",   new_user_session_url,      class: "nav-item nav-link")
          = link_to("新規登録",   new_user_registration_url, class: "nav-item nav-link")
          = button_to("テストユーザーでログイン", testlogin_users_path, class: 'btn btn-primary nav-item nav-link')